body {
  font-size: $global-font-size;
  font-family: $global-primary-font-family;
}

.h1,
h1 {
  font-size: $h1 + px;
  font-weight: 800;
}

.h2,
h2 {
  font-size: $h2 + px;
}

.h3,
h3 {
  font-size: $h3 + px;
}

.h4,
h4 {
  font-size: $h4 + px;
  line-height: 30px;
}
